<div class="panel-heading no-padding datatable-header">
    <table class="table no-margin">
        <colgroup>
            <col style="width:150px">
            <col style="width:250px">
            <col>
        </colgroup>
        <thead class="thin-border-bottom">
            <tr>
                <th>
                    <i class="fa fa-user"></i>
                    User
                </th>

                <th>
                    <i>@</i>
                    Email
                </th>
                <th class="hidden-480">Status</th>
            </tr>
        </thead>

    </table>
</div>
<div class="datatable-content panel-body no-padding grow">
    <table class="table table-hover no-margin">
        <colgroup>
            <col style="width:150px">
            <col style="width:250px">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td class="">Alex</td>

                <td>
                    <a href="#">alex@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">Fred</td>

                <td>
                    <a href="#">fred@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-success arrowed-in arrowed-in-right">Approved</span>
                </td>
            </tr>

            <tr>
                <td class="">Jack</td>

                <td>
                    <a href="#">jack@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">John</td>

                <td>
                    <a href="#">john@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-default arrowed">Blocked</span>
                </td>
            </tr>

            <tr>
                <td class="">James</td>

                <td>
                    <a href="#">james@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-info arrowed-in arrowed-in-right">Online</span>
                </td>
            </tr>
            <tr>
                <td class="">Alex</td>

                <td>
                    <a href="#">alex@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">Fred</td>

                <td>
                    <a href="#">fred@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-success arrowed-in arrowed-in-right">Approved</span>
                </td>
            </tr>

            <tr>
                <td class="">Jack</td>

                <td>
                    <a href="#">jack@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">John</td>

                <td>
                    <a href="#">john@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-default arrowed">Blocked</span>
                </td>
            </tr>

            <tr>
                <td class="">James</td>

                <td>
                    <a href="#">james@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-info arrowed-in arrowed-in-right">Online</span>
                </td>
            </tr>
            <tr>
                <td class="">Alex</td>

                <td>
                    <a href="#">alex@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">Fred</td>

                <td>
                    <a href="#">fred@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-success arrowed-in arrowed-in-right">Approved</span>
                </td>
            </tr>

            <tr>
                <td class="">Jack</td>

                <td>
                    <a href="#">jack@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">John</td>

                <td>
                    <a href="#">john@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-default arrowed">Blocked</span>
                </td>
            </tr>

            <tr>
                <td class="">James</td>

                <td>
                    <a href="#">james@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-info arrowed-in arrowed-in-right">Online</span>
                </td>
            </tr>
            <tr>
                <td class="">Alex</td>

                <td>
                    <a href="#">alex@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">Fred</td>

                <td>
                    <a href="#">fred@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-success arrowed-in arrowed-in-right">Approved</span>
                </td>
            </tr>

            <tr>
                <td class="">Jack</td>

                <td>
                    <a href="#">jack@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">John</td>

                <td>
                    <a href="#">john@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-default arrowed">Blocked</span>
                </td>
            </tr>

            <tr>
                <td class="">James</td>

                <td>
                    <a href="#">james@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-info arrowed-in arrowed-in-right">Online</span>
                </td>
            </tr>
            <tr>
                <td class="">Alex</td>

                <td>
                    <a href="#">alex@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">Fred</td>

                <td>
                    <a href="#">fred@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-success arrowed-in arrowed-in-right">Approved</span>
                </td>
            </tr>

            <tr>
                <td class="">Jack</td>

                <td>
                    <a href="#">jack@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">John</td>

                <td>
                    <a href="#">john@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-default arrowed">Blocked</span>
                </td>
            </tr>

            <tr>
                <td class="">James</td>

                <td>
                    <a href="#">james@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-info arrowed-in arrowed-in-right">Online</span>
                </td>
            </tr>
            <tr>
                <td class="">Alex</td>

                <td>
                    <a href="#">alex@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">Fred</td>

                <td>
                    <a href="#">fred@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-success arrowed-in arrowed-in-right">Approved</span>
                </td>
            </tr>

            <tr>
                <td class="">Jack</td>

                <td>
                    <a href="#">jack@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-warning">Pending</span>
                </td>
            </tr>

            <tr>
                <td class="">John</td>

                <td>
                    <a href="#">john@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-default arrowed">Blocked</span>
                </td>
            </tr>

            <tr>
                <td class="">James</td>

                <td>
                    <a href="#">james@email.com</a>
                </td>

                <td class="hidden-480">
                    <span class="label label-info arrowed-in arrowed-in-right">Online</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
