doctype html

include ../_partials/mixin.pug

html(lang="en")
  include ../_partials/header.pug

  body
    block content

    include ../_partials/footer.pug

    include ../_partials/scripts.pug

    block scripts


