<div class="treeview">
    <ul class="list-group list-group-simple">
        <li class="list-group-item">
            <span class="icon expand-icon glyphicon glyphicon-minus"></span>
            <span class="icon node-icon"></span>
            Parent 1
        </li>
        <li class="list-group-item">
            <span class="indent"></span>
            <span class="icon expand-icon glyphicon glyphicon-minus"></span>
            <span class="icon node-icon"></span>
            Child 1
        </li>
        <li class="list-group-item">
            <span class="indent"></span>
            <span class="indent"></span>
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>
            Grandchild 1
        </li>
        <li class="list-group-item">
            <span class="indent"></span>
            <span class="indent"></span>
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>
            Grandchild 2
        </li>
        <li class="list-group-item">
            <span class="indent"></span>
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>
            Child 2
        </li>
        <li class="list-group-item">
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>
            Parent 2
        </li>
        <li class="list-group-item">
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>
            Parent 3
        </li>
        <li class="list-group-item">
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>
            Parent 4
        </li>
        <li class="list-group-item">
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>
            Parent 5
        </li>
    </ul>
</div>
