<div class="btn-toolbar">
    <div class="btn-group">
        <a href="#" class="btn btn-default">1</a>
        <a href="#" class="btn btn-default">2</a>
        <a href="#" class="btn btn-default">3</a>
        <a href="#" class="btn btn-default">4</a>
    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-default">5</a>
        <a href="#" class="btn btn-default">6</a>
        <a href="#" class="btn btn-default">7</a>
    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-default">8</a>
        <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
            </ul>
        </div>
    </div>
</div>
