head
  meta(charset="utf-8")
  block title
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  link(href="../assets/veronica-ui/veronica-ui.css", rel="stylesheet")
  block styles
    
  //- | <!--[if lt IE 9]>
  //- |   <script src="../assets/html5shiv/dist/html5shiv.js"></script>
  //- |   <script src="../assets/respond/dest/respond.min.js"></script>
  //- | <![endif]-->