mixin header(id, name)
  .row
    .col-lg-12
      .page-header
        h1(id=id)= name
        if block
        block

mixin subheader(name)
  .row
    .col-lg-12
      h2= name

mixin rowComponent(col)
  - var cls = 'col-lg-' + (col || 12)
  .row
    div(class= cls)
      .bs-component
        if block
          block

mixin colComponent(col)
  - var cls = 'col-lg-' + (col || 12)
  div(class= cls)
    .bs-component
      if block
        block

mixin bscomponent(col)
  .bs-component
    if block
      block

mixin col(col)
  - var cls = 'col-lg-' + (col || 12)
  div(class= cls)
    if block
      block