<div class="flexbox scroll-x" style="height:300px;">
    <div style="height:30px;background:#ccc;"></div>
    <div class="grow row-container">
        <div class="row row-static">
            <div class="col-static col-xs-3 no-padding">
                <div style="height:400px;background:#999;"></div>
            </div>
            <div class="col-static col-xs-9 col-xs-offset-3 no-padding">
                <div style="height:800px;background:#aaa;"></div>
            </div>
        </div>
    </div>
    <div style="height:30px;background:#ccc;"></div>
</div>