extends _layouts/extend-layout.pug

block title
  title Tiny: All Bootstrap Style

block styles
  link(href="../assets/demo/bootswatch.css", rel="stylesheet")

//- 由于 jade 不支持 include 变量，所以要写全路径 _build

block content
  .container

    // Navbar
    .bs-docs-section
      +header('navbar', 'Navbar')
      +rowComponent()
        include _includes/bs3/navbar/navbar-default.html
      +rowComponent()
        include _includes/bs3/navbar/navbar-inverse.html

    // Buttons
    .bs-docs-section
      +header('buttons', 'Buttons')
      .row
        +col(6)
          +bscomponent()
            include _includes/bs3/buttons/buttons.html
          +bscomponent()
            include _includes/bs3/buttons/buttons-disabled.html
          +bscomponent()
            include _includes/bs3/buttons/buttons-group.html
          +bscomponent()
            include _includes/bs3/buttons/buttons-size.html
        +col(6)
          +bscomponent()
            include _includes/bs3/buttons/buttons-block.html
          +bscomponent()
            include _includes/bs3/buttons/buttons-justified.html
          +bscomponent()
            include _includes/bs3/buttons/buttons-toolbar.html
          +bscomponent()
            include _includes/bs3/buttons/buttons-vertical.html

    // Typography
    .bs-docs-section
      +header('typo', 'Typography')
      .row
        +colComponent(4)
          include _includes/bs3/typography/typo-heading.html
        +colComponent(4)
          include _includes/bs3/typography/typo-para.html
        +colComponent(4)
          include _includes/bs3/typography/typo-emphasis.html
      +subheader('Blockquotes')
      .row
        +colComponent(6)
          include _includes/bs3/typography/blockquote.html
        +colComponent(6)
          include _includes/bs3/typography/blockquote-alt.html

    // Tables
    .bs-docs-section
      +header('tables', 'Tables')
      +rowComponent()
        include _includes/bs3/tables/table.html

    // Forms
    .bs-docs-section
      +header('forms', 'Forms')
      .row
        +colComponent(6)
          include _includes/bs3/forms/form-horizontal.html
        .col-lg-4.col-lg-offset-1
          +bscomponent()
            include _includes/bs3/forms/form-input.html

    // Navs
    .bs-docs-section
      +header('nav', 'Navs')
      .row
        .col-lg-4
          h2#nav-tabs Tabs
          +bscomponent()
            include _includes/bs3/nav/nav-tabs.html
        .col-lg-4
          h2#nav-pills Pills
          +bscomponent()
            include _includes/bs3/nav/nav-pills.html
            br
            include _includes/bs3/nav/nav-pills-stacked.html
        .col-lg-4
          h2#nav-breadcrumbs Breadcrumbs
          +bscomponent()
            include _includes/bs3/nav/breadcrumbs.html
      .row
        .col-lg-4
          h2#pagination Pagination
          +bscomponent()
            include _includes/bs3/nav/pagination.html
        .col-lg-4
          h2#pager Pager
          +bscomponent()
            include _includes/bs3/nav/pager.html

    // Indicators
    .bs-docs-section
      +header('indicators', 'Indicators')
      +subheader('Alerts')
        include _includes/bs3/indicators/alerts.html
      .row
        .col-lg-4
          include _includes/bs3/indicators/alert-info.html
        .col-lg-4
          include _includes/bs3/indicators/alert-success.html
        .col-lg-4
          include _includes/bs3/indicators/alert-danger.html
      .row
        .col-lg-6
          h2#Labels
          include _includes/bs3/indicators/label.html
        .col-lg-6
          h2#Badges
          include _includes/bs3/indicators/badges.html

    // Progress
    .bs-docs-section
      +header('progress', 'Progress bars')
      include _includes/bs3/progress/progress.html

    // Containers
    .bs-docs-section
      +header('container', 'Containers')
      include _includes/bs3/containers/jumbotron.html
      +subheader('List groups')
      include _includes/bs3/containers/list-group.html
      +subheader('Panels')
      include _includes/bs3/containers/panel.html
      +subheader('Wells')
      include _includes/bs3/containers/well.html

    .bs-docs-section
      +header('dialogs', 'Dialogs')
      +subheader('Modals')
      include _includes/bs3/containers/dialogs.html