#source-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Source Code
      .modal-body
        pre
footer