script(src="../assets/jquery/dist/jquery.min.js")
script(src="../assets/jquery.scrollbar/jquery.scrollbar.min.js")
script(src="../assets/jquery.layout/dist/jquery.layout-latest.min.js")

script(src="../assets/tiny/js/bootstrap.js")
script(src="../assets/tiny/js/tiny.js")
script(src="../assets/demo/demo.js")