mixin fontAwesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  line-height: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 0;
}
