.k-pager-wrap .k-pager-numbers:before,
.k-pager-wrap .k-pager-numbers:after {
  content: " ";
  display: table;
  clear: both;
}
.k-pager-wrap .k-pager-input,
.k-pager-wrap .k-pager-nav,
.k-pager-wrap .k-pager-numbers,
.k-pager-wrap .k-pager-numbers li {
  float: left;
}
.k-pager-wrap .k-pager-numbers .k-current-page {
  display: none;
}
.k-pager-wrap .k-pager-info {
  float: right;
}
