/* State */


// Hover

.k-item.k-state-hover,
td.k-state-hover,
.k-item.k-state-focused {
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-state-hover > .k-select,
.k-state-hover.k-dropdown-wrap {
    background-color: @hover-background-color;
}

// Focus

.k-state-focused,
.k-state-border-down,
.k-state-border-up,
.form-control.k-state-focused {
    border-color: @focused-border-color;
}

// Selected

.k-state-selected,
.k-state-selected:hover,
.k-state-selected:link,
.k-state-selected:visited,
.k-item.k-state-selected {
    background-color: @selected-background-color;
    border-color: @selected-border-color;
    color: @selected-text-color;

    > .k-link {
        color: @selected-text-color;
    }
}

.k-combobox .k-select,
.k-numerictextbox .k-select,
.k-picker-wrap .k-select {
    border: transparent;
}